
body {
    margin: 0;
    text-align: center;
    font-family: papyrus, fantasy;
    background-color: #F1F6F5;
}

h1 {
    margin: 0 0;
}

h2, h3 {
    color:#82C3EC;
}

.top-content {
    background: linear-gradient(#4B56D2, #82C3EC);
}

.middle-content {
    font-family: verdana, sans-serif;
    width: 50%;
    margin: auto;
}

.skill-row {
    margin: 100px auto;
    line-height: 2;
}

.skill-row img {
    width: 20%;
    float: left;
    margin-right: 32px;
}

.skill-row-text {
    text-align: left;
}

.big-name {
    font-size: 5.625em;
    color: #F1F6F5;
    margin: 50px auto 0 auto;
}

.small-name {
    font-family: 'Sacramento', cursive;
    margin: -24px 0;
    color: #82C3EC;
}

.title {
    margin: 50px auto 0 auto;
    font-family: sans-serif;
    font-weight: normal;
}

.center-name {
    display: grid;
    justify-items: center;
}

.top-cloud {
    position: relative;
    left: 200px;
    top: 50px;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
}

.mountain {
    margin-bottom: -8px;
}

.btn {
    padding: 8px 16px;
    border-radius: 4px;
    color:#F1F6F5;
    text-decoration: none;
    font-size: 14px;
    background: linear-gradient(#4B56D2, #472183);
    background: -o-linear-gradient(#4B56D2, #472183);
    background: -webkit-linear-gradient(#4B56D2, #472183);
    background: -moz-linear-gradient(#4B56D2, #472183);
}

.btn:hover {
    text-decoration: none;
    background: linear-gradient(#82C3EC, #4B56D2);
    background: -o-linear-gradient(#82C3EC, #4B56D2);
    background: -webkit-linear-gradient(#82C3EC, #4B56D2);
    background: -moz-linear-gradient(#82C3EC, #4B56D2);
}